body {
    font-family: 'Kanit', sans-serif;
    background-color: #9bcffe
}

.nav {
    background-color: #09355b;
    width: 100%;
    border-radius: 25px;
}

.navlist {
    display: flex;
    list-style: none;
    padding: 0px;
    color: #cfee09;
    font-weight: 200;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.nav-icon {
    width: 25px;
    height: 25px;
    border-radius: 25px;
}

.navlist-item {
    padding: 10px;
    margin-left: 20px;
}

.navlist-item:hover > *{
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    font-weight: 600;
}

.about-banner, 
.technologies-banner,
.contact-banner,
.project-banner {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 100;
    font-size: 24px;
    background-color: #9bcffe;
}


/* This CSS is mostly specific to the Index page */
.about-section {
    background-color: #9bcffe
}

.about-image {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 300px;
    position: relative;
}

.personal-photo {
    border-radius: 25px;
}

.image-caption {
    position: absolute;
    bottom: 0px;
    color: #cfee09;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.25s;
}

.image-caption:hover {
    opacity: 1;
}

.about-section-text {
    display: flex;
    justify-content: center;
}

.about-me-text {
    color: #09355b;
    width: 50%;
    font-weight: 200;
    font-size: 25px;
}

h1 {
    font-weight: 100;
    color: #09355b;
    font-size: 70px;
    margin: 20px 0px;
}

h2 {
    font-weight: 100;
    color: #09355b;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: #cfe009;
}

a:visited {
    color: #cfee09;
}

a:hover {
    background: #cfee09;
    color:#09355b;
}

.technologies-container {
    display: flex;
    justify-content: center;
}

.indv-tech {
    justify-content: center;
    text-align: center;
    width: 200px;
    padding-top: 50px;
    background-color: #09355b;
    border-radius: 20px;
    margin: 0px 20px 0px 20px;
}

.tech-logo {
    height: 100px;
}

.tech-name {
    font-weight: 200;
    color: #cfee09;
    text-align: center;
}

.indv-tech:hover,
.indv-tech:hover > * {
    background-color: #cfe009;
    color: #09355b;
}

.input-name,
.input-email,
.input-message {
    background-color: #09355b;
    color: #cfe009;
}

::placeholder {
    color:#cfe009
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-blurb {
    color: #09355b;
    width: 70%;
    font-weight: 200;
    font-size: 25px;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.input-name,
.input-email,
.input-message {
    width: 75%;
    padding: 8px;
    margin: 5px;
    border: none;
}

.input-message {
    height: 50px;
    text-align: start;
}

/* This CSS is specific to the Projects page */

.project-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-disclaimer {
    font-size: 20px;
}

.project-image {
    position: relative;
    width: 30%;
    margin: 10px;
}

.project-picture {
    display: block;
    width: 100%;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #cfee09;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    backdrop-filter: blur(5px);
}

.project-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.project-overlay:hover {
    opacity: 1;
}

.project-overlay:hover > * {
    transform: translateY(0);
}

.project-name {
    width: 80%;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.description {
    width: 80%;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.project-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}